html{
    /*overflow: hidden;*/
}


.first
{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.second
{
    background-color: black;
    height: 100px;
    width: 100px;
}