body{
    width: 100%;
    height: 95vh;
    display: flex;
    justify-content: center;
}

main
{

}

nav
{
    margin: auto;
    margin-top: 20px;

    height: 100px;
    width: 150px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;

    grid-template-areas:
    ". up ."
    "left down right";


}

.icon-left-big, .icon-up-big, .icon-down-big, .icon-right-big
{
    background-color: gray;
    border: 2px solid rgba(0, 0, 0, 0.623);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.icon-left-big
{
    grid-area: left;
}
.icon-up-big
{
    grid-area: up;
}
.icon-down-big
{
    grid-area: down;
}
.icon-right-big
{
    grid-area: right;
}

.field
{
    width: 400px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;


    background-color: rgba(22, 105, 119, 0.384);
}

.row
{
    display: flex;
    justify-content: space-around;
    
}

.cell
{
    height: 50px;
    width: 50px;
    border: 2px solid black;
}


.cell.passed
{
    background-color: rgba(168, 111, 4, 0.849);
}

.cell.selected
{
    background-color: rgb(0, 19, 192);
}

.status-row
{
    width: 95%;
    height: 20px;
    border: 1px solid black;
    border-radius: 20px;

    margin: 0 auto 0 auto;

}
