
body
{
    display: flex;
    justify-content: center;
    overflow-x: hidden;
}

h3
{
    margin: 10px 20px 10px 10px;

    font-family: Google Sans;
    font-size: 14px;
    line-height: 16px;
    
    color: #4F4F4F;
}

.header_top
{
    display: flex;
    justify-content: flex-end;
    flex-direction: row;

    z-index: 2;

}


#custom_line
{

    position: absolute;

    background-color: #F2F2F2;
    width: 100%;
    height: 36px;
    z-index: 1;
    
    
}

#login
{
    z-index: 3;
}

#feedback
{
    z-index: 3;
}

.header_bott
{
    display: flex;
    
    justify-content: space-between;
    align-items: center;

    margin: 20px 0px 20px 0px;
}


.right_part
{
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu
{
    width: 26px;
    height: 19px;

    margin-left: 15px;
}

.menu img
{
    width: 26px;
}

.icon-search
{
    display: none;
    margin-right: 5px;
}

.icon-sort-down
{
    display: none;
    margin-right: 10px;
}

.city_search
{
    margin-left: 200px;
}

.search
{

    display: none;

    background: #FCFCFC;
    border: 1px solid #E8E8EE;
    box-sizing: border-box;
    border-radius: 3px;

    padding: 10px 10px 10px 10px;


    font-family: Google Sans;
    font-size: 14px;
    line-height: 16px;

    color: #828282;
}

.add_adv
{
    background: linear-gradient(245.23deg, #32228A -43.18%, #745ACD 100%), #C4C4C4;
    border-radius: 3px;

    padding: 10px 20px 10px 20px;

    font-family: Google Sans;
    font-size: 14px;
    line-height: 16px;

    color: #FFFFFF;
    margin-right: 10px;
}

.all_adv
{
    font-family: Google Sans;
    font-size: 24px;
    line-height: 28px;

    color: #333333;

    margin-left: 15px;
}

.valute
{
    display: none;
    justify-content: flex-start;
    flex-wrap: nowrap;
}

.sort
{
    display: none;
    justify-content: flex-start;
    flex-wrap: nowrap;
}

.subvalute, .subsort
{
    font-family: Google Sans;
    font-size: 18px;
    line-height: 21px;

    color: #333333;

    margin-right: 5px;
    margin-left: 20px;
}

.valute_name, .sort_name
{
    font-family: Google Sans;
    font-size: 18px;
    line-height: 21px;

    color: #979FAD;

    
}

.content img
{
    width: 355px;
}

#phone2{display: none;}

.valute_sing, .sort_sign
{
    margin-right: 10px;
}

.content
{
    margin-bottom: 20px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}


.filters
{
    display: flex;
    justify-content: space-between;
}

.signs{display: flex;}

.chair
{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;

    margin: 4px;
}

.chair img
{
    width: 253px;
}


@media all and (max-width: 355px)
{
    .main
    {
        overflow: auto;
        width: 355px;
    }
}
@media all and (min-width: 355px) and (max-width: 750px)
{
    .main
    {
        width: 100%;
    }
}
@media all and (min-width: 751px) and (max-width: 1080px)
{
    .main
    {
        width: 100%;
    }

    /*.content
    {
        flex-wrap: nowrap;
    }

    #phone2
    {
        display: block;
    }*/

    .search
    {
        display: flex;
        justify-content: center;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        margin-right: 40px;
    }

    .icon-search
    {
        display: block;
    }

    .icon-sort-down
    {
        display: block;
    }

    .valute
    {
        display: flex;
    }

    .valute_sign
    {
        display: none;

    }

    .sort
    {
        display: flex;
    }

    .sort_sign
    {
        display: none;

    }
}

@media all and (min-width: 1080px)
{
    .main
    {
        width: 1020px;
    }

    .content
    {
        flex-wrap: nowrap;
    }

    #phone2
    {
        display: block;
    }

    .search
    {
        display: flex;
        justify-content: center;
        flex-direction: row;
        align-items: center;
        margin-right: 50px;
    }

    .icon-search
    {
        display: block;
    }

    .icon-sort-down
    {
        display: block;

    }

    .valute
    {
        display: flex;
    }

    .valute_sign
    {
        display: none;
    }

    .sort
    {
        display: flex;
    }

    .sort_sign
    {
        display: none;
    }
}
