body
{
    width: 100%;
    height: 1000px;


    /*background-color: gray;*/
    border: 3px solid black;
    padding: 10px;
}

.table
{

    position: fixed;
    top: 30%;
    left: 10%;
    width: 100%;

}

.card
{
    margin-right: -50px;


    display: inline-block;
    width: 125px;
    height: 175px;

    border: 3px solid black;
    padding: 8.75px;
    border-radius: 7px;
    background-color: white;


    transition: transform .1s ease-in-out;
}


.card:hover
{

    transform: translate3d(0px, -52.5px, 0px) rotateY(180deg);
    box-shadow: 5px -5px 10px black;
    
    
}


.card:hover .card_content_front
{

    opacity: 0;


}

.card:hover .card_content_back
{

    display: inline;


}

.card_content_front
{


    background: repeating-linear-gradient(-30deg, white, white 27px, darkred 27px, darkred 55px);


    width: 125px;
    height: 175px;

    border-radius: 7px;


}

.card_content_back
{


    transform:rotateY(180deg);

    position: absolute;

    display: none;

    width: 125px;
    height: 175px;

    margin-top: -175px;

    background-color: #e8e8e8;
    border-radius: 7px;





    
}

h1
{
    font-size: 24px;
    color: gray;
    margin: 0;

    position: absolute;
    padding-top: 75.5px;
    left: 15%;

}

h2
{

    font-size: 22px;

    padding: 0;
    margin: 0;
}

.topsign
{
    position: absolute;
    top: 0;
    left: 3%

}

.botsign
{

    position: absolute;
    top: 85%;
    left: 87%



    /*text-align: right;*/
    /*transform:rotateY(180deg);*/
}

#cardb6_1_Ч
{

}
#cardb6_2_П
{

}
#cardb10_Б
{

}
#cardbВ_П
{

}
#cardbД_П
{

}
#cardbК_П
{

}
#cardbТ_Ч
{

}
#cardbТ_Б
{

}
#cardbТ_К
{

}
#cardbТ_П
{

}
