main {
  width: 100%;
  height: 95vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 10% 45% 15% 20% 15%;
      grid-template-rows: 10% 45% 15% 20% 15%;
}

header {
  width: 100%;
  padding-bottom: 7px;
}

header .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .logo img {
  height: 40px;
}

header .info {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .info a {
  margin: 0px 10px 0px 10px;
}

.section_mid {
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 30% 70%;
      grid-template-columns: 30% 70%;
  -ms-grid-rows: 66% 33%;
      grid-template-rows: 66% 33%;
      grid-template-areas: "sl srt" "sl srb";
}

.a1_left {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  grid-area: la1;
  border: 1px solid black;
}

.a2_left {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: la2;
  border: 1px solid black;
}

.a3_left {
  -ms-grid-row: 3;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  grid-area: la3;
  border: 1px solid black;
}

.a4_left {
  -ms-grid-row: 4;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: la4;
  border: 1px solid black;
}

.section_left {
  font-size: 12px;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: sl;
  border: 1px solid rgba(128, 128, 128, 0.459);
  overflow: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 22% 22% 22% 22% 22%;
      grid-template-rows: 22% 22% 22% 22% 22%;
  grid-gap: 5px;
  padding: 5px;
      grid-template-areas: ". la1" "la2 la1" "la2 la3" "la4 la3" "la4 .";
}

.section_right_top {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: srt;
  border: 1px solid rgba(128, 128, 128, 0.459);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 50% 50%;
      grid-template-rows: 50% 50%;
}

.section_right_top article {
  border: 1px solid rgba(128, 128, 128, 0.459);
  margin: 5px;
}

.section_right_bot {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: srb;
  border: 1px solid rgba(128, 128, 128, 0.459);
  background: url("../res/flowers.jpg") no-repeat;
  background-size: 100%;
}

.section_infinitie_scroll {
  border: 1px solid rgba(128, 128, 128, 0.459);
  margin: 2px;
  overflow: auto;
}

.section_bottom {
  font-size: 14px;
  overflow: auto;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border: 1px solid rgba(128, 128, 128, 0.459);
  padding: 2px 0px 2px 0px;
}

.section_bottom article {
  width: 200px;
  height: 80px;
  border: 1px solid rgba(128, 128, 128, 0.459);
}

footer {
  background: url("../res/hills.jpg") no-repeat;
  background-size: 100%;
}
/*# sourceMappingURL=style.css.map */