body
{
    display: flex;
    justify-content: center;
}

main
{
    width: 100%;
    height: 95vh;
    min-height: 440px;

    display: grid;
    grid-template-rows: 10% 45% 15% 20% 15%;
}

header
{
    width: 100%;
    padding-bottom: 7px;


    .logo
    {
        display: flex;
        justify-content: center;

        img
        {
            height: 30px;
        }
    }

    .info
    {
        width: 100%;
        display: flex;
        justify-content: space-between;

        a
        {
            margin: 0px 10px 0px 10px;
        }
    }
}

.section_mid
{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 66% 33%;
    
    grid-template-areas: 
        "sl srt"
        "sl srb"
        ;


}

.a1_left
{
    grid-area: la1;
}
.a2_left
{
    grid-area: la2;
}
.a3_left
{
    grid-area: la3;
}
.a4_left
{
    grid-area: la4;
}

.section_left
{

    font-size: 12px;

    grid-area: sl;
    border: 1px solid rgba(128, 128, 128, 0.459);
    overflow: auto;

    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 22% 22% 22% 22% 22%;
    grid-gap: 5px;
    padding: 5px;
    grid-template-areas:
    ". la1"
    "la2 la1"
    "la2 la3"
    "la4 la3"
    "la4 .";

    article
    {
        border: 1px solid rgba(128, 128, 128, 0.459);
        overflow: hidden;
    }
}



.section_right_top
{
    grid-area: srt;
    border: 1px solid rgba(128, 128, 128, 0.459);
    box-sizing: border-box;

    display: grid;
    grid-template-rows: 50% 50%;

    article
    {
        border: 1px solid rgba(128, 128, 128, 0.459);
        margin: 5px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: nowrap;

        .rt_img
        {
            width: 30px;
            height: 30px;
        }
    }
}

.section_right_bot
{
    grid-area: srb;
    border: 1px solid rgba(128, 128, 128, 0.459);

    background: url("../res/flowers.jpg") no-repeat;
    background-size: 100%;
}

.section_infinitie_scroll
{
    border: 1px solid rgba(128, 128, 128, 0.459);
    margin: 2px;

    overflow: auto;

    //animation: scroll 1s linear 1s infinite;
}


.section_bottom
{

    font-size: 14px;

    overflow: auto;

    
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    border: 1px solid rgba(128, 128, 128, 0.459);
    padding: 2px 0px 2px 0px;

    article
    {
        width: 200px;
        
        overflow: hidden;
        
        border: 1px solid rgba(128, 128, 128, 0.459);
    }
}

footer
{
    background: url("../res/hills.jpg") no-repeat;
    background-size: 100%;
}


@media screen and (max-width: 400px)
{

    main
    {
        grid-template-rows: 11% 50% 25% 20%;
    }

    .section_infinitie_scroll
    {
        display: none;
    }

    footer
    {
        margin-top: 5px;
    }

}

@media screen and (max-width: 1200px) and (min-width: 401px)
{
    header
    {
        padding-top: 15px;
        

        display: grid;
        grid-template-columns: 30% 40% 30%;
        grid-template-areas: "log . inf ";

        .logo
        {
            grid-area: log;
        }

        .info
        {
            padding-top: 7px;
            grid-area: inf;
        }
    }


    .section_right_top
    {
        display: grid;
        grid-template-columns: 40% 20% 40%;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
        "a1rt a1rt ."
        ". a2rt a2rt";

    }

    .a1_right_top
    {
        grid-area: a1rt;
    }

    .a2_right_top
    {
        grid-area: a2rt;
    }

    .section_bottom
    {
        display: flex;
        justify-content: space-around;
        flex-wrap: nowrap;

        article
        {
            margin: 5px;
            width: 50%;
        }
    }
}

@media screen and (min-width: 1201px)
{

    main
    {
        width: 1201px;
    }

    header
    {
        padding-top: 15px;

        display: grid;
        grid-template-columns: 30% 40% 30%;
        grid-template-areas: "log . inf ";
        
        .logo
        {
            grid-area: log;
        }

        .info
        {
            padding-top: 7px;

            grid-area: inf;
        }
    }



    .section_right_top
    {
        display: grid;
        grid-template-columns: 40% 20% 40%;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
        "a1rt a1rt ."
        ". a2rt a2rt";

    }

    .a1_right_top
    {
        grid-area: a1rt;
    }

    .a2_right_top
    {
        grid-area: a2rt;
    }

    .section_bottom
    {
        display: flex;
        justify-content: space-around;
        flex-wrap: nowrap;

        article
        {
            margin: 5px;
            width: 50%;
        }
    }
}