body
{
    min-width: 450px;
}

.intro
{
    width: 100%;
    height: 110px;
    background-color: rgb(72, 115, 255);
    display: flex;
    justify-content: space-between;

}

.logo
{


    margin: 5px 0px 0px 5px;
    width: 100px;
    height: 100px;
}

.menu
{
    margin: 40px 20px 0px 0px;
    display: flex;
    justify-content: flex-end;
    
}

.temp_menu
{

    z-index: 100;

}


.item_name
{

    width: auto;

    border: solid 2px rgb(146, 142, 142);
    font-size: 24px;
    background-color: rgb(98, 125, 243);
}

.umbrella
{
    display: none;

    margin-top: 2px;
    margin-left: 3px;
    margin-right: 3px;

    position: relative;
}

.subitem
{
    border: solid 2px rgb(146, 142, 142);
    background-color: rgb(98, 125, 243);
    display: none;
    
    float: center;
    

}

.temp_menu:hover .subitem
{
    display: block;
}

.subitem:hover .umbrella
{
    display: inline-block;
}