<!DOCTYPE html>
<html>
  <head>
    <title>hi</title>
  </head>
  <body>
    <form class="mainform" name="mainform">
    </form>
    <%= temp %>
    
      <div class="status"></div>
      <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.0/axios.js"></script>
      <script src="./js/main.js"></script> -->
  </body>

</html>
