main
{
    width: 100%;
}

.parkingLots
{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}


.parkingPlace
{
    margin: 5px 30px 5px 30px;
    border: 2px solid black;
    width: 110px;
    height: 200px;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.currTime
{

    height: 50px;
    width: 110px;
    border: 3px solid gray;
    background-color: white;

    position: fixed;
    right: 10px;
    bottom: 20px;

    font-size: 24px;
    text-align: center;
    padding: 7px;
    box-sizing: border-box;

}

.occupiedPlaces
{
    height: 70px;
    width: 200px;
    border: 3px solid gray;
    background-color: white;

    position: fixed;
    left: 10px;
    bottom: 20px;


    font-size: 20px;
    text-align: center;
    padding: 7px;
    box-sizing: border-box;
}