@font-face 
{
    font-family: "Google Sans";
    src: url("../fonts/GoogleSans-Regular.ttf");
}

@font-face 
{
    font-family: "Gotham Pro";
    src: url("../fonts/GothamPro.ttf");
}

body
{
    background-image: url("../res/background.jpg");
    overflow: hidden;
}

.header
{
    display: flex;

    box-sizing: border-box;
    border: 1px gray;

}

.left_line
{
    width: 1591px;
    height: 97px;

    background: linear-gradient(90deg, #1D2024 0%, #18191D 100%);
    box-sizing: border-box;
    border: 1px rgba(128, 128, 128, 0.452) solid;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.subline
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.search_line
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.search_sign
{
    position: absolute;
    height: 10px;
    top: 44px;
    left: 1305px;
    z-index: 100;
}

.search
{
    
    
    width: 426px;
    height: 49px;   

    background: #1D2024;
    border-radius: 3px; 
    box-sizing: border-box;
    padding: 16px 0px 5px 21px;

    font-family: Google Sans, solid;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.5px;




    color: #717278;

    margin-right: 64px;
    border: 0.5px solid gray;


}

.logo_img
{
    margin-left: 34px;
    margin-top:6px;
}

.logo_butt
{
    height: 30px;
    margin-left: -1px;
    margin-top: 17.5px;
}



.left_line_line
{
    border: 1px rgba(128, 128, 128, 0.452) solid;
    height: 49px;
    margin-right: 23px;
}

.online_info
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin-right:44px;
    margin-left: 26px;
    
    letter-spacing: px;
    

    
}
.online_info h3
{
    padding: 0px;
    margin: 0px;

    font-family: Google Sans;
    font-size: 18px;
    line-height: 21px;

    color: gold;

    /*margin-top: 29px;
    margin-right: 77px;*/


}

.online_info h4
{

    padding: 0px;
    margin: 0px;

    font-family: "Google Sans";
    font-size: 14px;
    line-height: 16px;
    
    color: white;

    

}



.short_acc_info
{
    width: 329px;
    height: 97px;

    background: #1D2024;

    display: flex;
    align-items: center;
    justify-content: flex-start;

    flex-direction: column;

    box-sizing: border-box;

    border: 1px rgba(128, 128, 128, 0.452) solid;

    
}

.player_icon
{
    height: 60px;
    margin-left: 24px;
    align-self: flex-start;
    margin-top: 16px;
}

.short_acc_info h4
{
    padding: 0px;
    margin: 0px;
    margin-top: -49px;

    font-family: Google Sans;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;

    color: white;
    margin-left: -60px;



}

.short_acc_info h3
{
    padding: 0px;
    margin: 0px;


    

    font-family: Google Sans;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    
    color: gold;
    margin-top: 6px;
    margin-left: -5px;

}

.short_acc_info h3::before
{
    content: url(../res/else/CCsign.png);
    color: gold;
    margin-right: 5px;
}

.logo_butt2
{
    height: 30px;
    position: relative;
    top: -37px;
    left: 145px;
}


.left_panel
{
    position: absolute;
    width: 135px;
    height: 983px;
    left: 0px;
    top: 97px;

    background: #1D2024;
    color: white;


    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    border: 1px rgba(128, 128, 128, 0.452) solid;
    background: #1B1D21;
}

.panel_button
{
    width: 135px;
    height: 102px;
    text-align: center;
    

    background-color: #1D2024;

    border-top: 2px  #1B1D21 solid; 
    box-sizing: border-box;
    padding-top: 40px;

    display: flex;
    flex-direction:column;
    align-content: center;
    justify-content: center;
}

#active_button
{
    height: 110px;
    border-bottom: 2px solid gold;
}

#butt2
{
    padding-bottom: 15px;
}

#butt3
{
    padding-bottom: 13px;
}
#butt3 img
{
    height: 38px;
    width: 47px;
    margin-left: 42px;
    margin-top: -1px;
    margin-bottom: 4px;
}

#butt4
{
    padding-bottom: 12px;
}

#butt4 img
{
    height: 38px;
    width: 52px;

    margin-bottom: 8px;
}

#butt5 
{
    padding-bottom: 5px;
}

#butt5 img
{
    height: 50px;
    width: 45px;

    margin-left:44px;
    margin-bottom: 4px;
}

#butt6
{
    padding-bottom: 6px;
}

#butt6 img
{
    height: 40px;
    width: 44px;

    margin-left: 46px;
    margin-bottom: 6px;
}

#butt7
{
    padding-bottom: 8px;
}

#butt7 img
{
    width: 45px;
    height: 45px;

    margin-left: 45px;
}

.panel_button img
{
    height: 50px;
    width: 55px;
    margin-left: 40px;
    
}

.panel_button h4
{
    position: relative;
    font-family: Google Sans;
    font-size: 14px;
    line-height: 16px;

    top:-17px;
    left: -2px;
}

.main
{
    display: flex;
    flex-wrap: wrap;
    margin-left: 145px;
    width: 1429px;


    /**********/
    color: white;
    font-size: 25px;
    /**********/

}

.main_section.t1
{
    width: 946px;
    height: 420px;

    background: rgba(29, 32, 36, 0.5);
    mix-blend-mode: normal;
    backdrop-filter: blur(20px);
    box-sizing: border-box;

    border: 1px gray solid;
    margin: 41px 41px 0px 32px;


    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    border-radius: 3px;

}

.main_section.t2
{
    width: 360px;
    height: 420px;

    background: rgba(29, 32, 36, 0.5);
    mix-blend-mode: normal;
    backdrop-filter: blur(20px);

    border: 1px gray solid;
    margin: 41px 0px 0px 0px;

    display: flex;
    flex-direction: column;

    border-radius: 3px;
}



.top_line
{
    height: 64px;
    display: flex;
    justify-content: space-around;
    width: 100%;
    border-bottom: 2px solid #2A2B31;;

    font-family: Google Sans;
    font-size: 16px;
    line-height: 16px;

}

.top_line h5
{
    padding: 17px 0px 7px 0px;
    margin: 0px;
    
}

#new_game
{

}

#line_new_game_1
{
    position: absolute;
    width: 472px;
    height: 2px;
    left: 0px;
    top: 50px;

    background: linear-gradient(90deg, #FFD128 0%, #FFAE25 100%);
    mix-blend-mode: normal;
    border-radius: 0px;
}

#active_line_new_game
{
    margin-left: 4px;
    
    letter-spacing: 0.7px;
}

#unactive_line_new_game
{
    margin-right: -9px;
    letter-spacing: 1.1px;
}

.point_name
{
    padding: 0px 0px 0px 24px;

    font-family: Google Sans;
    font-size: 14px;
    line-height: 16px;
}

#choose_mode
{
    margin-top: 15px;
    letter-spacing: 0.5px;
}

#make_rate
{
    margin-top: 10px;
    letter-spacing: 0.4px;
}

#game_modes
{
    height: 240px;
    margin-top: 20px;
    display: flex;

}

.game_mode
{

    box-sizing: border-box;

    padding-top: 9px;

    background: #1B1D21;
    border-radius: 3px;
    border: 1px solid rgba(51, 50, 50, 0.288);
}

.game_mode h4, h5
{
    padding: 0px;
    margin: 0px;

    padding-top: 4px;
    padding-left: 4px;
}

.game_mode h5
{
    padding: 0px;
    margin: 0px;
}


.game_mode h5
{
    font-family: Google Sans;
    font-size: 12px;
    line-height: 14px;

    color: rgba(255, 255, 255, 0.41);
}

#gm_1x1
{
    width: 140px;
    height: 159.86px;

    margin-left: 10px;
    


    display: flex;
    
    align-items: center;
    flex-direction: column;
}
#gm_1x1 h5
{
    font-family: Google Sans;
    font-size: 12px;
    line-height: 14px;
    color: rgba(255, 255, 255, 0.41);

    padding-bottom: px;
}

#gm_2x2
{
    width: 219px;
    height: 160px;

    border: 1px solid gold;
}

#gm_5x5
{
    width: 494px;
    height: 159.86px;

    margin-right: 10px;
}

.mode_name
{
    font-family: Gotham Pro;
    font-size: 14px;
    line-height: 16px;
    color: gold;
    text-align: center;
    
}

.custom_line_mode
{
    height: 2px;
    background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(71,71,71,1) 31%, rgba(102,102,102,1) 48%, rgba(89,89,89,1) 64%, rgba(19, 19, 19, 0) 100%);
    width: 100%;

    margin: 10px 0px 20px 0px;
}

.group_icons
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.group_nicks
{
    font-family: Google Sans;
    font-size: 12px;
    line-height: 14px;

    display: flex;
    flex-direction: row;
    justify-content: space-around;

    color: rgba(255, 255, 255, 0.41);
}

.players_icons
{
    height: 60px;
}

.submain
{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.custom_line_new_game_2
{
    height: 2px;
    background: rgba(51, 50, 50, 0.288);
    width: 100%;
}


#make_rate
{
    padding-bottom: 40px;
}

.bot_line
{
    width: 900px;
}

.value
{
    width: 75.73px;
    height: 50px;

    border: 1px solid rgba(88, 88, 88, 0.514);
    display: flex;
    justify-content: center;
    align-items: center;

    background: #1B1D21;
    border-radius: 3px;
    margin-bottom: 23px;
}

.your_own_value
{

    width: 236px;
    height: 50px;

    border: 1px solid rgba(88, 88, 88, 0.514);
    display: flex;
    justify-content: center;
    align-items: center;

    background: #1B1D21;
    border-radius: 3px;

    color: #797A7C;

}

.line_separation
{

    height: 53px;
    width: 2px;

    background: gold;
}

.start_game
{
    width: 185px;
    height: 53px;

    background: linear-gradient(0deg, #FFD128 -38.68%, #FFAE25 100%), #1B1D21;
    box-shadow: 1px 1px 20px rgba(255, 194, 38, 0.3);
    border-radius: 3px;

    font-family: Google Sans;
    font-size: 14px;
    line-height: 16px;

    display: flex;
    justify-content: center;
    align-items: center;

    color: #1C1E23;
}


.custom_active_line_top_pl
{

    position: absolute;
    width: 472px;
    height: 2px;
    left: 0px;
    top: 50px;

    background: linear-gradient(90deg, #FFD128 0%, #FFAE25 100%);
    mix-blend-mode: normal;
    border-radius: 0px;
}


.bot_line
{
    width: 100%;
    display: flex;
    justify-content: space-around;

    font-family: Google Sans;
    font-size: 12px;
    line-height: 14px;
}

table
{
    width: 100%;
    height: 300px;
    
    font-family: Google Sans;
    font-size: 12px;
    line-height: 14px;
}

.main_table
{
    border-spacing: 5px;
}

td{
    text-align: center;
}
tr:nth-child(odd)
{
    background: rgba(42, 43, 49, 0.39);
    
}

.top_list_nick
{
    display: flex;
    justify-content: center;
    align-items:center;
    
}

#top_list_nick1::before
{

    content: url("../res/players/le40z22/le4oz22_little.png");
    margin-right: 25px;
    margin-top: 5px;
    
}
#top_list_nick2::before
{
    content: url("../res/players/VanyaKiller/VanyaKiller_little.png");
    margin-right: 12px;
    margin-top: 5px;
    
}
#top_list_nick3::before
{
    content: url("../res/players/SaWyer/SaWyer_little.png");
    margin-right: 30px;
    margin-top: 5px;
    
}
#top_list_nick4::before
{
    content: url("../res/players/Shadow52/Shadow52_little.png");
    margin-right: 12px;
    margin-top: 5px;
    
}
#top_list_nick5::before
{
    content: url("../res/players/F1stM4n/F1stM4n_little.png");
    margin-right: 25px;
    margin-top: 5px;
}
#top_list_nick6::before
{
    content: url("../res/players/MyIcon_little.png");
    margin-right: 25px;
    margin-top: 5px;
}


#top1_rank::before
{
    content: url("../res/rank/image.png")
}

#top2_rank::before
{
    content: url("../res/rank/image2_1.png")
}

#top3_rank::before
{
    content: url("../res/rank/image2_2.png")
}

.top_list_rank
{
    display: flex;
    align-items: center;
    justify-content: center;
}

.top_list_coins::before
{
    content: url("../res/else/CCsign.png");
    margin-right: 5px;
    


}

.profile_big_avatar
{
    position: absolute;
    width: 120px;
    height: 110px;

    top: 60px;
    left: 20px;
}



#profile_stats h3{
    padding: 0;
    margin: 0;
}

#profile_stats h4{
    padding: 0;
    margin: 0;

}

#profile_stats h5{
    padding: 0;
    margin: 0;
}

#profile_stats
{
    background: rgba(29, 32, 36, 0.6);
    mix-blend-mode: normal;
    backdrop-filter: blur(20px);
    
}

#profile_stats #top_line{
    text-align: center;

    font-family: Google Sans;
    font-size: 14px;
    line-height: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.profile_info #nickname
{
    font-family: Google Sans;
    font-size: 20px;
    line-height: 23px;
    margin-bottom: 10px;
}

.profile_info #game_status
{
    font-family: Google Sans;
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 10px;
}

.profile_info #rank_status
{
    font-family: Google Sans;
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 25px;
}

#game_status
{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

#status_online::after
{
    content: url("../res/else/onlinestatussign.png");
    margin: 0px 5px 0px 5px;
}

.profile_info
{
    margin-top: 40px;
    margin-left: 160px;
    width: 360px;
    height: 142px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;


    
}

.custom_line_mode_profile
{
    height: 4px;
    background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(71,71,71,1) 31%, rgba(102,102,102,1) 48%, rgba(89,89,89,1) 64%, rgba(19, 19, 19, 0) 100%);
    width: 100%;

    margin: 0px 0px 0px 0px;
}

.winrate
{
 
    /*display: flex;
    justify-content: space-between;*/
    margin: 20px 0px 10px 20px;

    font-family: Google Sans;
    font-size: 14px;
    line-height: 16px;
}

.winrate_progress_bar
{
    position: absolute;
    width: 265px;
    height: 6px;
    top: 230px;
    
    background: #1B1D21;
    border: 1px solid #2A2B31;
    box-sizing: border-box;
    border-radius: 3px;

    
}
.winrate_progress_bar_completed
{
    position: absolute;
    width: 184px;
    height: 6px;

    background: linear-gradient(270deg, #FFD128 0%, #FFAE25 100%), #1B1D21;
    border-radius: 3px;
}
#winrate_icon
{
    position: absolute;
    top: 225px;
    left: 310px;
}


.profile_stats_additional
{

    margin: 40px 40px 0px 40px;
    height: 360px;

    font-size: 18px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

    font-family: Google Sans;
    font-size: 14px;
    line-height: 16px;

    color: rgba(255, 255, 255, 0.57);
    
}

#profile_stats #bot_line{
    display: flex;
    height: 100%;
    justify-content: center;
    align-items:flex-end;
    margin-bottom: 20px;

    font-family: Google Sans;
    font-size: 12px;
    line-height: 14px;
}



#daily_price h3
{
    padding: 0;
    margin: 0;

}

#daily_price h4
{
    padding: 0;
    margin: 0;

}

#daily_price #top_line{
    text-align: center;
    margin-top: 20px;

    font-family: Google Sans;
    font-size: 14px;
    line-height: 16px;
}

#daily_price #submain
{

    height: 100%;
    margin: 40px 0 40px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    background-image: url("../res/daily_price/DailyGift.png");

}

#subsubmain #third_line
{
    font-family: Google Sans;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.05em;

    color: #EB5757;
}

#subsubmain h4
{
    font-family: Google Sans;
    font-size: 14px;
    line-height: 16px;

    color: rgba(255, 255, 255, 0.78);
}


#sec_line
{
    margin-top: -10px;

    font-family: Google Sans;
    font-size: 28px;
    line-height: 33px;
    letter-spacing: 0.05em;
}

#price_bayonet
{
    color: gold;

    font-family: Google Sans;
    font-size: 14px;
    line-height: 16px;
    
}

#last_line
{
    font-family: Google Sans;
    font-size: 14px;
    line-height: 16px;
}

#subsubmain
{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}


/*Right panel*/



.right_panel
{
    position: absolute;
    width: 315px;
    height: 983px;
    left: 1590px;
    top: 138px;
    box-sizing: border-box;


    display: flex;
    flex-direction: column;
}

.match
{
    width: 315;
    height: 129px;
    margin-bottom: 18px;

    background: rgba(29, 32, 36, 0.5);
    mix-blend-mode: normal;
    backdrop-filter: blur(20px);

    color: white;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    box-sizing: border-box;

    border: 1px gray solid;


    font-family: Google Sans;
    font-size: 14px;
    line-height: 16px;
}

.match h4
{

    font-family: Google Sans;
    font-size: 12px;
    line-height: 14px;

    padding: 0px;
    margin: 0px;

    color: gold;
}

.block_rp
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.block_left
{
    margin-left: 5px;
}

.block_right
{
    margin-right: 15px;
}

.vs
{
    font-family: Google Sans;
    font-size: 14px;
    line-height: 16px;

    color: rgba(255, 255, 255, 0.23);


    margin-left: 5px;
}

.vs h3
{

    padding: 0px;
    margin: 0px;

    font-family: Google Sans;
    font-size: 22px;
    line-height: 26px;

    color: white;
}

.opponent_image
{
    width: 44px;
    height: 44px;
}


#match1
{
    background-image: url("../res/match_bg/match1_bg.png");
    background-position: right;
    background-repeat: no-repeat;
}
#match2
{
    background-image: url("../res/match_bg/match2_bg.png");
    background-position: right;
    background-repeat: no-repeat;
}
#match3
{
    background-image: url("../res/match_bg/match1_bg.png");
    background-position: right;
    background-repeat: no-repeat;
}
#match4
{
    background-image: url("../res/match_bg/match2_bg.png");
    background-position: right;
    background-repeat: no-repeat;
}
#match5
{
    background-image: url("../res/match_bg/match1_bg.png");
    background-position: right;
    background-repeat: no-repeat;
}
#match6
{
    background-image: url("../res/match_bg/match2_bg.png");
    background-position: right;
    background-repeat: no-repeat;
}


.custom_line_rp
{
    position: absolute;
    height: 859px;
    width: 3px;
    right: 340px;
 
    background: #2E2F35;    
    mix-blend-mode: normal;
    border-radius: 0px;
}

.custom_line_rp_active
{
    position: absolute;
    width: 5px;
    height: 129px;
    z-index: 100;

    background: gold;
    border-radius: 2px;
}


.backdrop
{

    width: 315px;
    height: 50px;
    margin-left: 4px;

    background: rgba(29, 32, 36, 0.6);
    mix-blend-mode: normal;
    border-radius: 3px;

    z-index: 100;
}


