<!DOCTYPE html>
<html>
  <head>
    <link rel="icon" type="image/png" href="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e0/Check_green_icon.svg/323px-Check_green_icon.svg.png" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <div class="main">
      <form class="mainform" name="mainform">
        <input type="number" class="foo" placeholder="foo" name="foo">
        <input type="text" class="bar" placeholder="bar" name="bar" >
        <input type="number" class="three" placeholder="three" name="three">
        
        <button type="submit">
          Ok
        </button>
      </form>

      <div class="answ"></div>

    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.0/axios.js"></script>
    <script src="./javascript/main.js"></script>
  </body>
</html>

