<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Task</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <h2>CARS</h2>
    <br>
    <div class="maintext">
        <%- text %>
    </div>
    <br>
    <div class="mainnav">
        <%- nav %>
    </div>
  </body>
</html>