<!DOCTYPE html>
<html>
  <head>
    <title>hi</title>
    <link rel='stylesheet' href='/styles/main.css' />
  </head>
  <body>
    <form class="mainform" name="mainform">
      <input type="text" class="author-inp" placeholder="Author">
      <input type="date" class="date-inp">
      <textarea class="author-inp" name="text">
      <input type="text" class="tags-inp">
      <textare class="author-comments" name="comments">
      <button type="submit">
      Ok
      </button>
    </form>
    
      <div class="status"></div>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.0/axios.js"></script>
      <script src="./js/main.js"></script>
  </body>

</html>
