.clock
{
    background-image: url("../img/clock.png");

    width: 300px;
    height: 300px;

    display: flex;
    justify-content: center;


    position: relative;
}

.arrow
{

    width: 2px;
    height: 150px;
    background-color: red;


    animation: rot 60s steps(60,end) infinite;
}

@keyframes rot
{
    0%
    {
        transform-origin: 100% 100%;
        transform: rotate(0deg);
    }
    50%
    {
        transform-origin: 100% 100%;
        transform: rotate(180deg);
    }
    100%
    {
        transform-origin: 100% 100%;
        transform: rotate(360deg);
    }
}
