
.icon-search:before { content: '\e800'; } /* '' */
.icon-sort-down:before { content: '\f0dd'; } /* '' */
.icon-bitcoin:before { content: '\f15a'; } /* '' */
.icon-sort-alt-up:before { content: '\f160'; } /* '' */