body
{
    background: rgba(30, 126, 70, 0.815);
    overflow: hidden;
    user-select: none;
}


.main
{
    width: 800px;
    height: 200px;
    border: 1px solid black;
    margin: auto;
    margin-top: 20px;
}

img
{
    height: 40px;
    width: 100px;
}

// .ground
// {
//     width: 100%;
//     height: 100%;
//     background: rgb(58, 6, 6);
//     border: 5px solid rgb(58, 6, 6);
//     position: absolute;
//     top: 500px;
// }

.tank
{
    position: relative;

    top: 100px;
    left: 0px;

    transition: left 1s linear;
}


nav
{
    display: flex;
    justify-content: center;
    margin-top: 100px;
    z-index: 100;
}

.btnLeft, .btnRight
{   
    text-align: center;

    margin:20px;
    width: 50px;
    width: 100px;
    background-color: darkgray;
    border: 1px solid black;
}