<!DOCTYPE html>
<html>
  <head>
    <title>hi</title>
    <!-- <link rel='stylesheet' href='/styles/main.css' /> -->
  </head>
  <body>
    <form class="mainform" name="mainform">
      <input type="text" class="first-text" placeholder="Первое поле">
      <input type="text" class="second-text" placeholder="Второе поле">
      <button type="submit">
      Ok
      </button>
    </form>
    
      <div class="status"></div>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.0/axios.js"></script>
      <script src="./js/main.js"></script>
  </body>

</html>
