<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"></meta>
    <!-- <meta name="viewport" content="windth=device-width, initial-scale"> -->
    <title>Registration</title>
    <!-- <link rel='stylesheet' href='/styles/main.css' /> -->
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
  </head>
  <body>
    <button class="login">Log In</button>
    <button class="regist">Registration</button>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.0/axios.js"></script>
    <script src="./js/mainStart.js"></script>
  </body>

</html>