<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Task</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="icon" type="image/png"
    href="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e0/Check_green_icon.svg/323px-Check_green_icon.svg.png" />
</head>

<body>
  <h2>Task</h2>

</body>

</html>